<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ShaReIt Alpha</title>
        <!--
            https://github.com/adrotec/knockout-file-bindings
        -->
        <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>        
        <script src="public/vendor/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form class="form-horizontal">
                <h4>Tutorial</h4>
                <hr/>
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">Title</label>
                    <div class="col-md-10">
                        <input type="text" data-bind="text: title" name="title" class="form-control"/>
                    </div>
                </div>
            <div class="form-group">
                    <label for="description" class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">
                        <textarea data-bind="text: description" name="description" class="form-control"></textarea>
                    </div>
                </div>
            <div class="form-group">
                    <label for="attachment" class="col-md-2 control-label">Attachment</label>
                    <div class="col-md-10">
                        <input type="file" name="attachment" class="form-control" data-bind="text: title"/>
                    </div>
                </div>
            <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-primary" 

                        value="Save" data-ng-click="saveTutorial(tutorial)" />
                    </div>
                </div>
            </form>
        </div>
        <script src="public/vendor/jquery/jquery.min.js"></script>
        <script src="public/vendor/knockout-3.4.2.js"></script>
        <script src="public/vendor/webtorrent.min.js"></script>
        <script src="public/upload/view-model.js"></script>
        <script src="public/upload/index.js"></script>
    </body>
</html>
